:root {
    --wls-base-dark: rgb(10, 69,79);
    --wls-base-light: rgb(7, 117, 135);
    --wls-gray-dark: gray;
    --wls-gray-light: lightgray;
    --wls-logo-light: rgb(218, 74, 0);
    --wls-logo-dark: rgb(186, 0, 0);
    --wls-hint: rgb(240,240,240);
    --wls-border-radius: .5em;
    --wls-padding: .25em;
}

html, body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: var(--wls-base-dark);
}

:link {
    color: var(--wls-base-dark);
}

:visited {
    color: var(--wls-base-dark);
}

:link:hover {
    color: var(--wls-base-light);
}

#navbar {
    border-bottom: 1px solid var(--wls-gray-light);
    box-shadow: 0px 0px 1em 1px var(--wls-gray-light);
}

.ks-logo-lg {
    height: 2.5rem;
}

.ks-logo-2lg {
    height: 6rem;
}

#content {
    background-image: url(../img/tlo.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}


.ks-hero {  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ks-hero-hero {
    background-image: linear-gradient(to bottom, transparent, white), url(../img/hero.jpg);

    min-height: 50%;
}

.ks-hero-split {
    background-image: linear-gradient(to bottom, transparent, white), url(../img/split.jpg);

    min-height: 30%;
}

.ks-hero > div {
    margin-top: 5em;
}

.hero-text {
    text-align: center;
    color: var(--wls-base-dark);
    font-weight: bold;
    font-size: 2em;
}

.ks-price {
    border: 1px solid var(--wls-base-dark);
    border-radius: var(--wls-border-radius);
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
}

.ks-price-head {
    text-align: center;
    color: var(--wls-base-dark);
}

.ks-price-price {
    text-align: center;
    color: var(--wls-base-dark);
    font-weight: bold;
    border-bottom: 1px solid var(--wls-base-dark);
}

.ks-area {
    text-align: justify;
    border-radius: var(--wls-border-radius);
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
}